<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" - Alva Commerce Showcase">
      {assigns[:page_title] || "Alva Commerce Showcase"}
    </.live_title>
    <%= if vite_dev_server?() do %>
      <script type="module" src="http://localhost:5173/@vite/client">
      </script>
      <script type="module" src="http://localhost:5173/js/app.js">
      </script>
    <% else %>
      <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
      <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
      </script>
    <% end %>
  </head>
  <body>
    <.vue id="layout" v-component="AppLayout" />
    {@inner_content}
  </body>
</html>
